body{
font-family: 'Alegreya Sans', sans-serif;
}

.header {
position: fixed;
top: 0; right: 0; left: 0;
color:#C0C0C0;
background-color:#800000;
padding-left: 2%;
padding-top: 2%;
}

.headerbutton {
background-color:red;
padding:0%;

margin-right: 0.1%;
display:inline;
}

.headerbutton:hover {
background-color:orange;
}

.logindiv{
top:30%;
background-color:#800000;
position:absolute;
margin-top:1%;
padding:0.5%;
outline: solid;
}

